

<!--Table of names -->
<!--name | Button-->
<div id="megaContainer">
    <!-- Mega container  -->
    <div id="container1" class="container">
        <!-- container -->

        <div class="box" id="box2">

            <div class=" emoji" id="happy" (click)="triggerAddHappy()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f604/u1f604_u1f601.png?fbx" alt="Emoji Image" width="150" height="150"></div>
            <div class=" emoji" id="normal" (click)="triggerAddNormal()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f603/u1f603_u1f62c.png?fbx" alt="Emoji Image" width="150" height="150"></div>
            <div class=" emoji" id="sad" (click)="triggerAddSad()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20211115/u1fae1/u1fae1_u1f61e.png?fbx" alt="Emoji Image" width="150" height="150"></div>
            <div class=" emoji" id="Angry" (click)="triggerAddAngry()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f610/u1f610_u1f621.png?fbx" alt="Emoji Image" width="150" height="150"></div>

        </div>



    </div>



</div>
