
<div id="megaContainer">
    <!-- Mega container  -->
    <div id="container1" class="container">
        <!-- container -->
        <div class="box" id="box1"><h1 class="largetsText">Large Text &#120161;</h1></div>
        <div class="box" id="box2">

            <div class=" emoji" id="happy" (click)="triggerAddHappy()" ><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20230301/u1f601/u1f601_u1f60e.png?fbx" alt="Emoji Image" width="200" height="200"></div>
            <div class=" emoji" id="normal" (click)="triggerAddNormal()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f603/u1f603_u1f62c.png?fbx" alt="Emoji Image" width="150" height="150"></div>
            <div class=" emoji" id="sad" (click)="triggerAddSad()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f614/u1f614_u1f635.png?fbx" alt="Emoji Image" width="150" height="150"></div>
            <div class=" emoji" id="angry" (click)="triggerAddAngry()"><img src="https://www.gstatic.com/android/keyboard/emojikitchen/20201001/u1f92b/u1f92b_u1f92c.png?fbx" alt="Emoji Image" width="200" height="200"></div>


        </div>



    </div>


</div>
